## Global config file for github's git tool
[user]
	name = Biggin
	email = biggin61186@gmail.com
[ui]
	color = true

[pull]
	rebase = true
[core]
	editor = nano
[color]
	branch = always
	diff = always
	grep = always
	interactive = always
	showBranch = always
	status = always
	ui = always
[diff]
	colorMoved = true
	algorithm = minimal
[color "diff"]
	plain = bold white
	meta = magenta
	frag = bold yellow
	old = red
	new = green
	commit = bold green
	whitespace = red
	oldMoved = red
	newMoved = green
	oldMovedDimmed = bold white
	oldMovedAlternative = bold yellow
	oldMovedAlternativeDimmed = bold green
	newMovedDimmed = green
	newMovedAlternative = blue
	newMovedAlternativeDimmed = magenta
[color "decorate"]
	branch = cyan
	remoteBranch = red
	tag = green
	stash = yellow
	HEAD = white
[color "grep"]
	context = bold red
	filename = yellow
	function = white
	linenumber = bold cyan
	match = bold green
	matchContext = bold green
	matchSelected = bold green
	selected = bold black
	separator = bold yellow
[color "interactive"]
	prompt = bold white
	header = yellow
	help = bold magenta
	error = bold red
[color "status"]
	header = bold white
	added = green
	changed = yellow
	untracked = bold black
	branch = cyan
	nobranch = red
	localBranch = white
	remoteBranch = red
	unmerged = magenta
[column]
	ui = always
	status = always
	tag = always
[fetch]
	prune = true
	output = compact
[format]
	pretty = always
[help]
	format = web
	browser = firefox
[merge]
	conflictStyle = diff3
	log = true
	tool = bc
[rebase]
	stat = true
	autoStash = true
[rerere]
	autoUpdate = true
	enabled = true
[credential]
	helper = cache --timeout=7200
